<!-- templates/fragments/header.html -->
<div th:fragment="header">
    <div class="navbar">
        <div class="container">
            <div class="logo"><a href="#">< Anurag<span>/ Singh ></span></a></div>
            <nav id="section-link">
                <ul class="nav-links">
                    <li class="nav-item"><a href="#hero"><i class="fas fa-home"></i> Home</a></li>
                    <li class="nav-item"><a href="#about"><i class="fas fa-user"></i> About</a></li>
                    <li class="nav-item"><a href="#education"><i class="fas fa-graduation-cap"></i> Education</a></li>
                    <li class="nav-item"><a href="#skills"><i class="fas fa-code"></i> Skills</a></li>
                    <li class="nav-item"><a href="#projects"><i class="fas fa-briefcase"></i> Projects</a></li>
                    <li class="nav-item"><a href="#contact"><i class="fas fa-envelope"></i> Contact</a></li>
                </ul>
            </nav>

            <div class="hamburger">
               <span class="bar"> </span>
                <span class="bar"> </span>
                <span class="bar" ></span>
            </div>
        </div>
    </div>
</div>
